[Unit]
Description=CPU monitoring service (mystat)
After=local-fs.target
DefaultDependencies=no
RequiresMountsFor=/var/log
Wants=local-fs.target

[Service]
ExecStart=/usr/local/bin/mystat
Restart=always

[Install]
WantedBy=multi-user.target
